@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --color-header-titulo: #000000;
    --color-fondo-main: #92DCE5;
    --color-header-menu: #EEE5E9;
    --color-footer-texto: #7C7C7C;
    --color-resaltar-texto: #D64933;

    --fuente-titulos: "Titillium Web", sans-serif;
    --fuente-textos: "Exo 2", sans-serif;
}

body {
    height: 100vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/programacion.jpg);
}

.header{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 3% 0% 3%;
    gap: 30px;
}

.header__titulo{
    font-family: var(--fuente-titulos);
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-header-titulo);
}

.header__menu{
    display: flex;
    gap: 30px;
}

.header__indice{
    font-family: var(--fuente-titulos);
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-fondo-main);
    text-shadow: var(--color-resaltar-texto) -3px 3px;
}

.main{
    min-height: 70vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-header-menu);
}

.main__textos{
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.main__titulo{
    font-family: var(--fuente-titulos);
    font-size: 2rem;
    text-align: center;
}

.main__texto{
    font-family: var(--fuente-textos);
    font-size: 1.25rem;
    text-align: justify;
    line-height: 150%;
}

.main__redes{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 0px 0px 12px 0px;
}

.main__redes__titulo{
    font-family: var(--fuente-textos);
    font-size: 1.5rem;
}

.main__buttons{
    display: flex;
    justify-content: center;
    gap: 36px;
}

.main__redes__boton{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-titulos);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-resaltar-texto);
    background-color: var(--color-header-titulo);
    border-color: var(--color-resaltar-texto);
    border: solid 2px;
    height: 56px;
    width: 340px;
    border-radius: 18px;
    gap: 8px;
}

.main__redes_icono{
    width: 32px;
}

.main__imagen{
    width: 21vw;
    height: 21vw;
}

.footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__texto{
    font-family: var(--fuente-textos);
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--color-fondo-main);
    text-shadow: var(--color-resaltar-texto) -2px 2px;
}

@media (max-width: 1100px) {
    
}